body { font-family: helvetica; }

@trackColor: #666;
@waterColor: #62b7fc; /*#0087cd;*/

@port: #e44c4c;
@starboard: #5fe44c;

#graphs {
    margin-left: 580px;
    width: 744px;
}

.graph {
    height: 200px;
}

#wind_graph {
    height: 100px;   
}
#twd_graph {
    height: 100px;   
}

#heel_graph {
    
}

.line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}

.grid {
    .tick {
        stroke: lightgray;
        opacity: 0.7;
    }
    path {
        stroke-width: 0;
    }
}

path.highlight {
    stroke-width: 2.5;
    fill: none;

    &.port {
        stroke: @port;
    }
    &.starboard {
        stroke: none;
    }
}

text.legend {
    font-size: 12px;
}

rect.board.prestart {
    fill: #dedede;
}

rect.port {
    fill: lighten(@port, 20%);

    &.downwind {
        fill: darken(@port, 20%);
    }
}

rect.starboard {
    fill: lighten(@starboard, 20%);
    &.downwind {
        fill: darken(@starboard, 20%);
    }
}

rect.water {
    fill: @waterColor;
}

div.layers {
    background-color: @waterColor;
    padding: 5px 10px;
    
    a:link {
        color: #fff;
        text-decoration: none;
        margin:0 10px; 
        display: inline-block;   
    }
    

}

@annotationColor: #fff;
.annotations {
    text {
        fill: @annotationColor;
        font-size: 12px;
    }

    .wind line {
        stroke-width: 1.5;
        stroke: @annotationColor;
    }

    .compass {
        .rose {
            fill: @annotationColor;
            stroke: none;
        }    
    }
}



.tack-label {
    stroke-width: .35;
    stroke: #fff;
    cursor: pointer;
}

.track {
    fill: none;
    stroke: @trackColor;
    stroke-width: 1;
    /*stroke-opacity: .65;*/
}

.boat {
    fill: @trackColor;
    stroke: @trackColor;
}

circle.timing {
    fill: none;
    stroke: @trackColor;
    stroke-width: 0.35;
}

.scrubber {
    .axis {
        path {
            display: none;
        }
    }

    .boat {
        fill: @trackColor;
        stroke: #fff;
        stroke-width: 2;
        -webkit-filter: drop-shadow(1px 1px 2px #999);
        filter: drop-shadow(1px 1px 2px #999);
    }
}

.tackGraph {
    height: 150px;
    width: 400px;

    display: inline-block;

    .axis text {
        font-size: 10px;
    }

    line.timing {
        stroke: #000;
        stroke-width: .5;
    }

    .grid .tick {
        stroke: #dedede;
        stroke-width: .5;
        stroke-dasharray: 3,3;
    }
}

.tackGraph.wind {
    height: 100px;
}

.tackMap {
    height: 400px;
    width: 400px;
    display: inline-block;

    line.twa-ref {
        stroke: #d76f56;
        stroke-width: 0.5;
        stroke-dasharray: 2,3;
    }
}



.popover {
    max-width: 800px;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: normal;
    z-index: 1060;

    &.right {
        margin-left: 10px;
    }

    .popover-content {
        padding: 9px 14px;
    }
}

.arrow {
    display: none !important;
}